<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RestBridgeEmulator.Emulator.VersionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RestBridgeEmulator.Emulator.ColorsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RestBridgeEmulator.Emulator.ConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RestBridgeEmulator.Emulator.VersionSettings>
            <setting name="Version" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="SourceUrl" serializeAs="String">
                <value>http://localhost/source.apk</value>
            </setting>
            <setting name="ShiftTaskRequestInterval" serializeAs="String">
                <value>15</value>
            </setting>
        </RestBridgeEmulator.Emulator.VersionSettings>
        <RestBridgeEmulator.Emulator.ColorsSettings>
            <setting name="EMPTY" serializeAs="String">
                <value>ffca86</value>
            </setting>
            <setting name="NEED_ANODE_REPLACE" serializeAs="String">
                <value>996666</value>
            </setting>
            <setting name="ANODE_REPLACED" serializeAs="String">
                <value>a47c45</value>
            </setting>
            <setting name="UNSCHEDULED_ANODE_REPLACEMENT" serializeAs="String">
                <value>d4b851</value>
            </setting>
            <setting name="CANCELED_ANODE_REPLACE" serializeAs="String">
                <value>e60548</value>
            </setting>
            <setting name="NEED_ANODE_COVERING" serializeAs="String">
                <value>996666</value>
            </setting>
            <setting name="ANODE_COVERED" serializeAs="String">
                <value>a47c45</value>
            </setting>
            <setting name="UNSCHEDULED_ANODE_COVERING" serializeAs="String">
                <value>d4b851</value>
            </setting>
            <setting name="CANCELED_ANODE_COVERING" serializeAs="String">
                <value>e60548</value>
            </setting>
        </RestBridgeEmulator.Emulator.ColorsSettings>
        <RestBridgeEmulator.Emulator.ConnectionSettings>
            <setting name="host" serializeAs="String">
                <value>http://localhost:9876/crandriverBridge/</value>
            </setting>
        </RestBridgeEmulator.Emulator.ConnectionSettings>
    </userSettings>
</configuration>